@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*{
    font-family: 'Patrick Hand', cursive;
}
body{
    background: url(/minecraft-bees.jpg)no-repeat;
    background-size: 100%;
}
.campos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #f7f3f3;
    border-radius: 50px;
    border: solid 1px;
}
#chems{
    margin-top: 5%;
}
.botones{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#si{
    border-radius: 5px;
    border: 2px solid;
    font-size: 1.5rem;
    background-color: #fdfd96;
    color: black;
    padding: auto;
}
#si:hover{
    background-color: #cece73;
    cursor: pointer;
    transition: .3s;
}
#no{
    border-radius: 5px;
    border: 2px solid black;
    font-size: 1.5rem;
    background-color: #e2504c;
    color: white;
    padding: auto;
    cursor: pointer;
}

#texto{
    margin-top: 5%;
    font-size: 1.2rem;
}
